<h4 class="text-center mt-md-3 mt-sm-3 mt-3">Listado de gastos</h4>
<hr>
<div class="row mt-5">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="alert alert-success fs-5">
      Presupuesto <span class="fw-bold">${{presupuesto}}</span>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="alert alert-secondary fs-5">
      Restante <span class="fw-bold">${{restante}}</span>
    </div>
  </div>
</div>
<div class="row">
  <ul *ngFor="let gasto of listGastos"
      class="list-group list-group-item list-group-flush
              d-flex justify-content-between">
    <li>
      <span class="fw-bold">{{gasto.nombre}}</span>
      <span class="
            fw-bold
            badge bg-secondary rounded-pill
            flex-md-nowrap text-wrap
            d-block d-sm-inline-flex">
        ${{gasto.cantidad}}
      </span>
    </li>
  </ul>
</div>
